*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
textarea{
	resize: none;
	outline: none;
}
#wrapper{
	width: 50%;
	border: 1px dotted #CCCCCC;
	margin: 50px auto;
	padding: 20px;
}
.comment{
	position: relative;
	overflow: hidden;
}
.message{
	width: 106%;
	height: 280px;
	overflow: auto;
}
.message li{
	border-bottom: 1px solid #CCCCCC;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.content{
	width: 80%;
	line-height: 1.5;
	font-size: 14px;
}
.senMessageWrap{
	margin-top: 20px;
}
.senMessageWrap input, .senMessageWrap textarea{
	display: block;
	width: 500px;
	height: 80px;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	margin: 10px 0;
}
.senMessageWrap button{
	border: 0;
	background-color: deepskyblue;
	padding: 6px 8px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 12px;
}
